body{
    background: linear-gradient(180deg, rgb(25, 25, 180), white, rgb(180, 25, 25));
    color:rgb(0, 0, 0);
 min-height: 100vh;   
}

img{
    width: 300px;
    height: 350px;
}


a {
    color: white;
    font-size: 29px;
    text-decoration: none;
}

.back {
    margin: 0 10px 0;
}

.cards div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
}

.cards p{
    margin-top: 0;
}
